main {
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template: auto auto / minmax(200px,auto) 1fr;
    grid-template-areas:
        "location location"
        "loc_nav main_content";
    background-color: #608341;
}

.view_all {
    padding-top: .2em;
    font-size: 80%;
}
.ad_divider_border_right {
    border-right: 2px solid black;
}

.subcategory_link { padding: .3em .5em;}
.subcategory_link:hover, .subcategory_link:focus { 
    text-decoration: underline; 
    cursor: pointer;
}

/* Styles for being able to click back to home, or to main category, etc */
#location_link a { text-decoration: none; color: white; font-weight: bold; }
#location_link a:focus, #location_link a:hover { text-decoration: underline; }
#location_link {
    grid-area: location;
    font-size: 80%;
    padding-top: .5em;
    padding-left: 1%;
    padding-bottom: .8em;
}
/* Styles for category and the link of each sub category */
#category_menu { 
    grid-area: loc_nav; 
    background-color: white;
    height: 350px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
#category_menu ul {
    list-style-type: none;
    border-top-right-radius: 20px;
}
#category_menu h3 {
    font-size: 180%;
    border-top-right-radius: 20px;
    padding-top: .4em;
    padding-left: .4em;
    padding-bottom: .6em;
    background-color: #d2b48c;
}
#category_menu a {
    display: block;
    text-decoration: none;
    font-size: 110%;
    color: black;
    font-weight: bolder;
}
#category_menu a:focus, #category_menu a:hover { text-decoration: underline; }
/* -------End category styles--------- */
/* Start to main content of each main category page */
#main_content { 
    grid-area: main_content; 
    display: grid;
    margin-bottom: 2em;
    width: 100%;
    grid-template: repeat(3, auto) / 1fr;
    grid-template-areas:
        "h1_heading"
        "under-construction"
        "main_section";
    grid-row-gap: 1em;
}

#main_content h1 {
    grid-area: h1_heading;
    margin: 0;
    font-size: 250%;
    text-align: center;
}

.under-construction {
    grid-area: under-construction;
    width: 50%;
    border-radius: 10px;
    padding: 8px 0;
    background-color: darkgoldenrod;
    justify-self: center;
    align-self: flex-start;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

#category_home_top_ad {
    grid-area: main_section;
    display: grid;
    grid-template: auto / repeat(3, 33.33%);
    grid-template-areas:
        "top_left top_middle top_right";
    width: 90%;
    padding: .5em;
    justify-self: center;
    max-height: 600px;
    background-color: beige;
    border-radius: 20px;
    border: 2px solid black;
}
#category_home_top_left { grid-area: top_left; }
#category_home_top_middle { grid-area: top_middle; }
#category_home_top_right { grid-area: top_right; }
#category_home_top_left, #category_home_top_middle, #category_home_top_right {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        "product_name"
        "image"
        "product_button";
}
#category_home_top_left h2, #category_home_top_middle h2, #category_home_top_right h2 {
    grid-area: product_name;
    text-align: center;
    padding-top: .5em;
    align-self: flex-start;
}
#category_home_top_left img, #category_home_top_middle img, #category_home_top_right img {
    grid-area: image;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    max-height: 340px;  /* Figure out height for template */
    margin-top: 1em;
    margin-bottom: 1em;
    /*padding-top: 1em;
    padding-bottom: 1em;*/
    
}
#category_home_top_left_button, #category_home_top_middle_button, #category_home_top_right_button {
    grid-area: product_button;
    justify-self: center;
    align-self: flex-end;
    margin: 0 2% .6em 2%;
}
#category_home_top_left_button:hover, #category_home_top_left_button:focus { font-weight: bold; }
#category_home_top_middle_button:hover, #category_home_top_middle_button:focus { font-weight: bold; }
#category_home_top_right_button:hover, #category_home_top_right_button:focus { font-weight: bold; }


@media only screen and (max-width: 920px) {
    main {
        grid-template: auto auto / 1fr 1fr;
        grid-template-areas:
            "location location"
            "main_content main_content";
    }
    main_content {
        grid-row-gap: 1em;
    }
}